#callout-background {
    background-image: linear-gradient(to right, #81D2C7 , yellow);
}

#nav-background{
    background-image: linear-gradient(to right, #81D2C7 , yellow);
    margin-bottom: 10px;
}
#nav-background > *{
    background-image: linear-gradient(to right,yellow, #81D2C7);
}

#work-title{
    margin-bottom: 10px;
}

#work-container{

}
#my-contact{
    background-image: linear-gradient(to right,#a8e063,#56ab2f);
}

.separator{
    border-top: 1px solid rgb(0, 0, 0);
}

.column{
    max-width: 400px;
}
/* .EcomDemo{
    max-width: 400px;
    max-height: 300px;
} */