#callout-background {
    /* background: rgb(212, 168, 205); */
}

#nav-background{
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
}
#nav-background > *{
    background: rgb(255, 255, 255);
}

#work-title{
    margin-bottom: 10px;
}